$bg-color: #f4f1de;
$text-color: #3d3d3d;
$primary-color: #e07a5f;
$secondary-color: #81b29a;
$accent-color: #f2cc8f;
$tag-bg: #8d99ae;
$tag-text: #edf2f4;
$font-stack: 'Courier New', Courier, monospace;


/* Home Section */
.home-section {
  padding: 20px;
  font-family: $font-stack;
  color: $text-color;
  background-color: lighten($bg-color, 5%);
}


.home-section h1 {
  color: $primary-color;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid darken($secondary-color, 20%);
  padding-bottom: 0.7em;
}

.home-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: darken($text-color, 15%);
  margin-bottom: 20px;
}

.home-section ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.2rem;
}

.home-section li {
  margin-bottom: 10px;
  color: $tag-bg;
  position: relative;
  padding-left: 20px;
}

.home-section li::before {
  content: "•";
  color: $primary-color;
  position: absolute;
  left: 0;
}
