<div class="home-section">
  <h1>Welcome!</h1>
  <p>
    Hi, I’m Zaine, a passionate student and aspiring web developer. I currently study at the University of Birmingham, where I’m pursuing a degree in Computer Science.
  </p>
  <p>
    My journey in tech started with curiosity and grew into a commitment to build meaningful projects. From leading teams in full-stack web development to tinkering with personal side projects, I strive to learn something new every day. Right now, I’m focused on mastering Angular, Spring Boot, and building accessible, user-first applications.
  </p>
  <p> Outside of coding, I enjoy : </p>
  <ul>
    <li>Reading books</li>
    <li>Working out</li>
    <li>Exploring new places</li>
    <li>Trying new recipes</li>
    <li>Tinkering with tech</li>
    <li>Experimenting with ways to improve productivity and focus</li>
  </ul>
  <p>
    I’m always eager to connect with like-minded people, share knowledge, and work on ideas that inspire change.
    Thanks for stopping by!
  </p>
</div>
