<div class="home-section">
  <h1>Welcome to My Website!</h1>
  <p>I'm a final-year student at the University of Birmingham, majoring in computer science.</p>
  <p>In this website you'll mainly find weekly blogs where I write about really random things that I come across/read/experience. You can also find the current projects I am working on as well as ways to contact me. Enjoy!</p>

  <h2>Interests</h2>
  <ul>
    <li>Full-Stack Development (Spring Boot, Angular, PostgreSQL, backend optimisation)</li>
    <li>Reading (History, Poetry & Religion)</li>
    <li>Operating Systems & Systems Programming (Low-level C, Linux, performance tuning)</li>
    <li>Emacs Lisp (Configuration + contributions to Melpa/GNU ELPA)</li>
    <li>Automation & Tooling (Bash scripting, process optimisation, system utilities)</li>
  </ul>

  <h2>Current Projects</h2>
  <ul>
    <li><strong>Final Year Project:</strong> Overcoming Cognitive Overload: Designing an AI-Based Note-Taking Solution (Repository is private at the moment)</li>
    <li><strong>Ricing my Linux</strong></li>
    <li><strong>Modifying homelab</strong></li>
    <li><strong>Working with LLMs to finetune models</strong></li>
  </ul>

  <h2>Teaching Experience</h2>
  <p>I tutor Year 5 and Year 6 students in Maths and English with <a href="https://tutorsunited.org/" target="_blank">Tutors United</a>.</p>

  <p>Thanks for visiting!</p>
</div>
