<div class="home-section">
  <h1>Welcome to My Website!</h1>
  <p>I'm a final-year student at the University of Birmingham, majoring in computer science.</p>
  <p>In this website you'll mainly find weekly <a href="/blogs">blogs</a> where I write about really random things that I come across/read/experience. You can also find the current <a href="/projects">projects</a> I am working on as well as ways to contact me. Enjoy!</p>

  <h2>About</h2>
  <p>It would be exhaustive to list all my interests, as they tend to <a href="https://en.wikipedia.org/wiki/Multipotentiality#:~:text=A%20multipotentialite%20is%20someone%20with,of%20polymaths%20or%20Renaissance%20people." target="_blank">expand</a> almost every week.
  I love using Emacs and Linux as my digital homestead, and I plan on writing more about it in the future. See the <a href="/projects">projects</a> page for a detailed description of what I'm currently working on.
  I plan on reading 25 books this year (because 2025 right??) and HOPEFULLY 5 research papers. Will also update the RSS feed when I get around to it.
  </p>

  <h2>Now</h2>
  <ul>
    <li><strong>Final Year Project:</strong> Overcoming Cognitive Overload: Designing an AI-Based Note-Taking Solution (Repository is private at the moment)</li>
    <li><strong>Ricing my Linux</strong></li>
    <li><strong>Modifying homelab</strong></li>
    <li><strong>Post grad life thinking</strong></li>
  </ul>

  <h2>Teaching</h2>
  <p>I tutor Year 5 and Year 6 students in Maths and English with <a href="https://tutorsunited.org/" target="_blank">Tutors United</a>.</p>

  <p>Thanks for visiting!</p>
  <a href="https://ko-fi.com/s/4662b19f61" target="_blank">
    <img class="donut-powered" src="assets/HumanContent_08.png" alt="Donut Powered" height="31" width="88">
  </a>
</div>
