<div class="blog-list">
  <h1 class="blog-header">~ The Blorg ~</h1>

  <div class="tag-filter">
    <button *ngFor="let tag of tags" (click)="selectTag(tag)" [class.active]="selectedTag === tag">
      {{ tag }}
    </button>
    <button class="rss-button" (click)="downloadRSS()">Download RSS</button>
  </div>

  <div *ngFor="let month of groupedMonthKeys" class="month-group">
    <h2 class="month-heading">🔗{{ month }}</h2>
    <ul class="blog-listing">
<li *ngFor="let blog of groupedBlogsByMonth[month]">
  <a [routerLink]="['/blogs', blog.slug]" class="title-link">{{ blog.title }}</a>
  <span class="blog-date-inline"> - {{ blog.date }}</span>
  <span class="blog-tags-inline">
    <ng-container *ngFor="let tag of blog.tags">
      <span class="blog-tag">{{ tag }}</span>
    </ng-container>
  </span>
</li>
    </ul>
  </div>
</div>
