<div class="hamburger-menu" (click)="toggleSidebar()">☰</div>

<div class="sidebar-header">
  <img ngSrc="./assets/pfp.png" alt="Sidebar Logo" class="sidebar-logo" height="1280" width="1280" />
</div>

<nav class="sidebar-nav" [class.visible]="isSidebarVisible">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
