.sidebar {
  width: 15em;
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, width 0.3s ease; /* Added width transition */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}


.sidebar-nav.closed {
  transform: translateX(-100%);  /* Moves the sidebar off-screen */
}

.sidebar-toggle {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on mobile */
  }

  .sidebar-toggle {
    display: block; /* Show the toggle button */
  }


  .sidebar-nav.closed {
    transform: translateX(-100%);
    display: none;
  }
}


.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.sidebar-nav {
  margin-top: 5em;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 10px 0;
  }

  a {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 1em;
  }

  a:hover {
    background-color: #444;
  }

  .active {
    font-weight: bold;
    color: #39ff14;
  }
}

