.sidebar {
  width: 10em;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  height: 100%;
}

.sidebar-nav.closed {
  transform: translateX(-100%);
}

.sidebar-toggle {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-toggle {
    display: block;
  }


  .sidebar-nav.closed {
    transform: translateX(-100%);
    display: none;
  }
}


.sidebar-header {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  zoom: 1.2;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin-bottom: 2em;
}

  .sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;


  }



  .sidebar-nav a {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 1em;
  }

  .sidebar-nav a:hover {
    background-color: #444;
  }

  .sidebar-nav a.active {
    font-weight: bold;
    color: #39ff14;
  }


