<div class="sidebar">
  <div class="sidebar-header">
    <a routerLink="/home">
      <img ngSrc="./assets/gr.png" alt="Sidebar Logo" class="sidebar-logo" height="500" width="500"/>
    </a>
    <div *ngIf="isLargeScreen">
      <a routerLink="/home">  <p class="top-zxq"> [ zxq ] $ </p> </a>
    </div>
  </div>

  <!-- Sidebar Toggle Button (only shown on small screens) -->
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
  <nav class="sidebar-nav" [ngClass]="{ 'closed': !showSidebar }">
    <ul>
      <li><a class="sidebar-nav-links" routerLink="/home" routerLinkActive="active">[./home]</a></li>
      <li><a class="sidebar-nav-links" routerLink="/blogs" routerLinkActive="active">[./blogs]</a></li>
      <li><a class="sidebar-nav-links" routerLink="/projects" routerLinkActive="active">[./projects]</a></li>
      <li><a class="sidebar-nav-links" routerLink="/now" routerLinkActive="active">[./now]</a></li>
      <li><a class="sidebar-nav-links" routerLink="/contact" routerLinkActive="active">[./contact]</a></li>
    </ul>
    <div class="bottom-sidebar">
      <br>
      <a href="https://ko-fi.com/s/4662b19f61" target="_blank">
        <img class="never-by-ai" src="assets/NeverByAi_04.png" alt=" Never By AI" height="31" width="88">
      </a>
      <p>&copy; 2023-2025 Zaine Qayyum</p>
      <p class="last-updated">Last Updated: {{ lastUpdated | date: 'medium' }}</p>
    </div>
  </nav>
</div>
