<div class="sidebar">
  <div class="sidebar-header">
    <img ngSrc="./assets/gr.png" alt="Sidebar Logo" class="sidebar-logo" height="500" width="500"/>
  </div>

  <!-- Sidebar Toggle Button (only shown on small screens) -->
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <nav class="sidebar-nav" [ngClass]="{ 'closed': !showSidebar }">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</div>
