$bg-color: #f4f1de;
$text-color: #3d3d3d;
$primary-color: #e07a5f;
$secondary-color: #81b29a;
$accent-color: #f2cc8f;
$tag-bg: #8d99ae;
$tag-text: #edf2f4;
$font-stack: 'Courier New', Courier, monospace;

.quiz-list {
  background-color: $bg-color;
  padding: 2rem;
  font-family: $font-stack;
  color: $text-color;
  margin: auto;



  .quiz-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $primary-color;
    padding-bottom: 0.5rem;
  }

  .quiz-grid {
    display: grid;
    grid-template-columns: 1fr; // Default to 1 column for small screens
    gap: 1.5rem;
    margin-top: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr); // Exactly 2 quizzes per row on larger screens
    }
  }


  .quiz-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;

    &:hover {
      background-color: darken($bg-color, 5%);
      transform: scale(1.05);
    }
  }

  .quiz-content {
    .quiz-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 0.5rem;
    }

    .quiz-title-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;

      &:hover {
        color: $accent-color;
      }
    }

    .quiz-summary {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .quiz-tags {
    margin-top: 0.5rem;

    .tag {
      display: inline-block;
      background: $tag-bg;
      color: $tag-text;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      margin-right: 0.25rem;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }

  .quiz-footer {
    margin-top: 1rem;
    text-align: right;

    .read-more-btn {
      background: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-size: 0.875rem;
      border-radius: 4px;
      transition: 0.3s;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

