// Global styling for layout
.app-container {
  display: flex;
  height: 100vh;

}

.sidebar {
  width: 15em;
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.sidebar.closed {
  transform: translateX(-100%);
}
.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #222831;

}

// Sidebar styles
.sidebar-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin: 10px 0;
  }

  a {
    color: white;
    text-decoration: none;
    //font-size: 18px;
    display: block;
    padding: 10px;
  }

  a:hover {
    background-color: #555;
  }

  .active {
    font-weight: bold;
  }
}


/* Mobile styles */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; /* Full width on mobile */
    position: fixed; /* Fix sidebar on top in mobile mode */

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the sidebar is on top */
    transition: transform 0.3s ease; /* Smooth transition when toggling */
  }

  .sidebar-toggle {
    display: block; /* Show the toggle button */
  }

  /* When the sidebar is closed, hide it */
  .sidebar.closed {
    transform: translateX(-100%);
  }

  .main-content {
    margin-top: 8rem; /* Space for the sidebar toggle button */
    margin-left: 0; /* No space on left when sidebar is hidden */
  }
}
