
@use '../../../styles/index' as *;



.project-list {
  background-color: $bg-color;
  padding: 2rem;
  font-family: $font-stack;
  color: $text-color;
  margin: auto;
  
  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  .project-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $primary-color;
    padding-bottom: 0.5rem;
  }
  .project-row {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .project-card {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .under-construction-badge {
    position: absolute;
    right: -5px;
    height: 80px;

    @media (max-width: 768px) {
      height: 50px;
      top: -20px;
      right: -5px;
    }
  }

  .project-content {
    .project-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 0.5rem;
    }
    .project-title-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;

      &:hover {
        color: $accent-color;
      }
    }
    .project-summary {
      font-size: 1rem;
      line-height: 1.5;
    }
    .project-date {
      font-size: 0.875rem;
      color: $secondary-color;
      margin-top: 0.5rem;
    }
  }
  .project-footer {
    margin-top: 1rem;
    text-align: right;

    .read-more-btn {
      background: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-size: 0.875rem;
      border-radius: 4px;
      transition: 0.3s;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

.github-projects {
  background-color: $bg-color;
  padding: 2rem;
  font-family: $font-stack;
  color: $text-color;
  margin: auto;

  .github-row {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .github-row a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .github-row h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 0.1rem;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: white;
  }

  .github-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 0.5rem;
  }

  .github-title-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    &:hover {
      color: $accent-color;
    }
  }

  .github-link {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
    transition: color 0.3s;
    &:hover {
      color: darken($secondary-color, 10%);
    }
  }

  .github-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .github-date {
    font-size: 0.875rem;
    color: $tag-bg;
    margin-top: 0.5rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    button {
      background: $primary-color;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.3s;

      &:disabled {
        background: lighten($primary-color, 30%);
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background: darken($primary-color, 10%);
      }
    }
  }
  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
}
