.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #111;
  color: #39ff14; /* Neon green */
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
