
@use '../../../styles/index' as *;
/* Contact Section */
.contact {
  padding: 20px;
  font-family: $font-stack;
  color: $text-color;
  border-radius: 5px;
}

.contact h2 {
  text-align: center;
  font-size: 2.2rem;
  color: $primary-color;
  border-bottom: 2px solid darken($secondary-color, 20%);
  padding-bottom: 1em;
  margin-bottom: 20px;
}
.contact-top {
  margin-left: 2em;
}
.contact-info {
  margin-top: 20px;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-item {
  margin-bottom: 15px;
}

.contact-item h3 {
  font-size: 1.6rem;
  color: darken($primary-color, 10%);
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-item p {
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-item a {
  color: $secondary-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.contact-item a:hover {
  color: $primary-color;
  text-shadow: 0 0 6px $primary-color;
}

/* Contact Form Styles */
.contact-form {
  margin-top: 40px;
  padding: 20px;
  border-top: 2px solid darken($secondary-color, 20%);
}

.contact-form h3 {
  color: $primary-color;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1.2rem;
  color: darken($primary-color, 10%);
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid darken($bg-color, 20%);
  border-radius: 3px;
  background-color: white;
  color: $text-color;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border: 1px solid $primary-color;
}

.submit-btn {
  display: block;
  padding: 10px;
  background-color: $secondary-color;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: $primary-color;
}

.submit-btn:disabled {
  cursor: not-allowed;
}

/* Success Message */
.success-message {
  color: $primary-color;
  background-color: lighten($bg-color, 10%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
}

/* Error Message */
.error-message {
  color: #ff4d4d;
  background-color: lighten($primary-color, 10%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
