
.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.sidebar-nav {
  margin-top: 5em;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 10px 0;
  }

  a {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 1em;
  }

  a:hover {
    background-color: #444;
  }

  .active {
    font-weight: bold;
  }
}
