$bg-color: #f4f1de;
$text-color: #3d3d3d;
$primary-color: #e07a5f;
$secondary-color: #81b29a;
$accent-color: #f2cc8f;
$tag-bg: #8d99ae;
$tag-text: #edf2f4;
$font-stack: 'Courier New', Courier, monospace;


html,
body {
  overflow: hidden;
  margin: 0;
  height: 100dvh;
  width: 100%;
  font-family: Arial, sans-serif;
}
