// Global styling for layout
.app-container {
  display: flex;
  height: 100vh;

}

.sidebar {
  width: 15em;
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #190c0c; /* Deep dark background */

}

// Sidebar styles
.sidebar-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin: 10px 0;
  }

  a {
    color: white;
    text-decoration: none;
    //font-size: 18px;
    display: block;
    padding: 10px;
  }

  a:hover {
    background-color: #555;
  }

  .active {
    font-weight: bold;
  }
}
